.sideBar {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
    margin-top: -1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;

  }
  
  .sideBar div {
    padding-left: 4rem;
  }
  
  .sideBar ul {
    list-style-type: none;
    
  }

  
  .sideBar ul li div {
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: capitalize;
   
    color: #ffdab9;
    transition: 0.5s ease;
    border-radius: 0 30px;
  }
  
  .item-flex {
    
    display: flex;
    align-items: center;   
  }

  .perso {
    margin-left: 3rem;
  }
  



  .sideBar ul li div:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #bc6c25;
  }
  
  .sideBar select {
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    border-radius: 3rem;
    width: 5rem;
    padding: 0.5rem;
    background-image: none;
    color: #bc6c25;
    cursor: pointer;
  }
  
  .sideBar select {
    position: relative;
    display: flex;
    width: 5.8rem;
    height: 2rem;
    line-height: 1;
    background: #faedcd;
  }
  
  .sideBar select {
    flex: 1;
    padding: 0 0.5rem;
    color: #bc6c25;
    cursor: pointer;
  }
  
  .paginate_home{
    
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
   
}

.boton_paginate{
    display: block;
    width: 4rem;
    height: 2rem;
    background-color: #bc6c25;
    padding-top: 0.2rem;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1rem;
    margin: 1rem;
}

  .boton_home {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .reset-filter {
    color: #faedcd;
  }
  
  /* Estilos para pantallas m치s peque침as */
  @media (max-width: 768px) {
    .sideBar div {
      margin-left: -2rem;
      margin-right: 5rem;
      /* Eliminamos el margen izquierdo en pantallas peque침as */
    }

    .sideBar ul {
      flex-direction: column; /* Cambiamos la direcci칩n de la lista a vertical */
      align-items: center; /* Centramos los elementos verticalmente */
    }
  
    .sideBar ul li div {
      margin-bottom: 0.5rem; /* Agregamos un poco de espacio entre los elementos de la lista */
    }
  
    .sideBar select {
      width: 100%; /* Hacemos que el select ocupe todo el ancho disponible */
      margin-top: 5px; /* Agregamos un poco de espacio entre los selects */
    }
    
    .paginate_home {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
  
    .perso {
      margin-right: 0;
    }
    .perso select {
      width: 5rem;
      margin-left: -3rem;
    }
  }